<!DOCTYPE html>
<html lang="en">

<head>
	<!-- <meta charset="UTF-8"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>bubbles</title>
	<script type="text/javascript" src="vuejs/vue.js"></script>
	<style>
		@import "css/bubbles.css"
	</style>
</head>

<body>

	<!--The menu controls animation settings-->
	<div id="menu">
		<!-- amount of instances called-->
		<p>amount {{amount}}
			<button @click="amountLess">less</button>
			<button @click="amountMore">more</button>
		</p>
		<!-- increase decrease speed-->
		<p>speed {{speed}}
			<button @click="speedLess">slower</button>
			<button @click="speedMore">faster</button>
		</p>
		<!-- start/stop animation-->
		<p>animate
			<button @click="startstop">{{startstopbutton}}</button>
		</p>
		<!-- follow mouse-->
		<p>follow
			<button @click="follow">{{followbutton}}</button>
		</p>
		<!-- reset to origin-->
		<p>reset
			<button @click="reset">reset</button>
		</p>
	</div>

	<!-- All instances of dot happen here, props are inputed from default values and the menu,
	the class goo is the svg filter that allows for the goo effect-->
	<div id="container" class="goo" @mousemove="getMouse">
		<customcomponent 
			v-for="item in props.amount" 
			v-bind:key="item" 
			v-bind:speed="props.speed" 
			v-bind:animate="props.animate"
			v-bind:mouse="props.mouse" 
			v-bind:follow="props.follow">
		</customcomponent>

	</div>

	<script src="js/dot.js"></script>
	<script src="js/main.js"></script>

</body>


</html>