body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
	box-sizing: border-box;
}

#container {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 110%;
	height: 110%;
	transform: translate(-50%, -50%)
}

#menu {
	display: block;
	position: relative;
	z-index: 1;
	background: rgba(255, 255, 255, 0.493);
	padding: 5px;
	width: 200px;
	border-radius: 20px;
}

.transitions {
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

.goo {
	/* -webkit-filter: url(svg/filter.svg#goo);
	filter: url(svg/filter.svg#goo); */
	/* background: blue; */
	/* background-image: linear-gradient(red, yellow, purple, green, blue); */
	background-image: url("../images/stripes.gif");
	filter: blur(10px) contrast(20);

}

.dots {
	background-blend-mode: invert;
}